.filters {
  padding: 40px 50px 0px;
  margin: 0;
}

.filters label {
  height: 35px;
  font-size: 20px;
  color: #1c2237c0;
  cursor: pointer;
  margin: auto;
}

@media screen and (max-width:986px) {
  .filters {
    padding: 60px 0px 0px;
  }
}

@media screen and (max-width:768px) {
  .filters {
    padding: 40px 20px 0px;
  }
}