.cv-body, .cv-body-download {
    max-width: 595px;
    margin: 0 35px 0 35px;
}

.hide-cv-download {
    position: fixed;
    left: -200%;
    top: -200%;
}

.left-side {
    width: 155px;
    text-align: end;
}

.right-side {
    width: 310px;
    margin-left: auto
}

.cv-body p, .cv-body-download p {
    font-size: 10px;
    margin-bottom: 0.2rem;
    align-self: center;
}

.cv-body h6, .cv-body-download h6 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #0275d8;
}

.btn-export {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
}

.heading-cv {
    color: #0275d8;
    margin-bottom: 10px;
}

.personal-info, .personal-description, .work-experience, .education-experience, .projects {
    display: flex;
    margin-bottom: 10px;
    padding-right: 10px;
}

.title-category {
    display: flex;
    margin-bottom: 5px;
}

.title-category span {
    content: "";
    border-top: 1px solid #0275d8;
    margin-top: 10px;
    width: 320px;
    height: 1px;
    position: relative;
}

/* personal info style*/

.personal-info img {
    height: 100px;
    width: 100px;
}

.personal-info .icon {
    font-size: 10px;
    color: #0275d8;
    margin-right: 5px;
}

.personal-info .info-row {
    display: flex;
    flex-wrap: wrap;
}

.personal-info .label {
    color: #0275d8;
    margin-right: 2px;
}

.delimitator {
    margin: 0 4px 0 4px;
    font-size: 10px;
}

/* work & education style*/

.work-experience .title-work, .education-experience .title-degree {
    font-size: 12px;
    margin-bottom: 0.1rem;
    color: #074a85;
}

.work-experience p, .education-experience p {
    margin-bottom: 0.1rem;
}

.work-experience .date-info, .education-experience .date-info {
    color: #074a85;
    font-size: 12px;
}

/* languages style*/

.languages {
    display: flex;
}

.language-classifer {
    display: flex;
    position: relative;
    right: 10px;
    width: 320px;
    font-size: 10px;
    border-top: 1px solid rgb(177, 171, 171);
    border-bottom: 1px solid rgb(177, 171, 171);
    margin-bottom: 0;
}

.language-classifer li:first-child {
    border: none;
}

.language-classifer li {
    margin: auto;
    list-style: none;
    padding: 1px 37px 1px 37px;
    justify-content: center;
    border-left: 1px solid rgb(177, 171, 171);
}

.languages .language-classifer {
    border-top: none;
}

.languages .language-classifer li {
    border: none;
}

.languages .language-classifer:last-child {
    margin-bottom: 5px;
}

.name-language, .name-project {
    color: #074a85;
}

/* skills and hobby style*/

.skill-title {
    margin-top: 20px;
}

.skills-list, .hobbys-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 10px;
    margin-bottom: 0px;
}

.skills-list li, .hobbys-list li {
    list-style: none;
    flex: auto;
    max-width: auto;
    font-size: 10px;
    color: #fff;
    margin: 5px;
    padding: 3px 10px 3px 10px;
    background-color: #0275d8;
}

@media screen and (max-width:740px) {
    .cv-body .title-category span {
        width: 270px;
    }
    .cv-body .language-classifer {
        width: 270px;
    }
    .cv-body .left-side {
        width: 135px;
    }
    .cv-body .right-side {
        width: 260px;
    }
}

@media screen and (max-width:642px) {
    .cv-body .title-category span {
        width: 210px;
    }
    .cv-body .language-classifer {
        width: 210px;
    }
    .cv-body .language-classifer li {
        margin: auto;
        padding: 1px 20px 1px 20px;
        justify-content: center;
    }
    .cv-body .left-side {
        width: 100px;
    }
    .cv-body .right-side {
        width: 200px;
    }
}

@media screen and (max-width:531px) {
    .cv-body p {
        font-size: 9px;
    }
    .cv-body .title-category span {
        width: 160px;
    }
    .cv-body .personal-info img {
        height: 120px;
        width: 80px;
    }
    .cv-body .personal-info .icon {
        font-size: 9px;
        margin-right: 2px;
    }
    .cv-body .language-classifer {
        width: 160px;
    }
    .cv-body .language-classifer li {
        padding: 1px 10px 1px 10px;
    }
    .cv-body .left-side {
        width: 60px;
    }
    .cv-body .right-side {
        width: 150px;
    }
}

@media screen and (max-width:450px) {
    .cv-body .title-category span {
        width: 110px;
    }
    .cv-body .personal-info img {
        height: 100px;
        width: 60px;
    }
    .cv-body .language-classifer {
        width: 110px;
    }
    .cv-body .language-classifer li {
        padding: 1px 5px 1px 5px;
    }
    .btn-export {
        margin: 50px auto 20px auto;
        width: 100px;
    }
    .cv-body .left-side {
        width: 40px;
    }
    .cv-body .right-side {
        width: 100px;
    }
}

@media screen and (max-width:390px) {
    .cv-body p {
        font-size: 8px;
    }
    .cv-body .title-category span {
        width: 100px;
    }
    .cv-body .personal-info img {
        height: 80px;
        width: 50px;
    }
    .cv-body .language-classifer {
        width: 100px;
    }
    .cv-body .language-classifer li {
        padding: 1px 5px 1px 5px;
    }
    .btn-export {
        margin: 50px auto 20px auto;
        width: 70px;
    }
    .cv-body .left-side {
        width: 25px;
    }
    .cv-body h6, .title-work, .title-degree {
        font-size: 10px;
    }
    .cv-body .left-side p {
        font-size: 9px;
    }
    .cv-body .right-side {
        width: 90px;
    }
}

@media screen and (max-width:340px) {
    .cv-body .title-category span {
        width: 90px;
    }
    .cv-body .personal-info img {
        height: 75px;
        width: 45px;
    }
    .cv-body .language-classifer {
        width: 100px;
    }
    .cv-body .language-classifer li {
        padding: 1px 5px 1px 5px;
    }
    .cv-body h6, .title-work, .title-degree {
        font-size: 9.5px;
    }
    .cv-body .right-side {
        width: 80px;
    }
}