.wrapperr {
  padding: 1rem 0.5rem;
}

.cardd {
  padding: 0px;
}

.cardd .content {
  padding: 0rem 2rem 0rem 2rem;
}

.icons {
  font-size: 1.45rem;
  line-height: inherit;
  margin-right: 0.5rem;
  border: none;
  outline: none;
  background: none;
}

.icons-facebook {
  color: #0f698a;
}

.f-pass {
  margin-left: 5px;
  font-size: 0.9rem;
}

.linktext {
  font-family: inherit;
  line-height: inherit;
  color: #148cb8;
  cursor: pointer;
}

.linktext:hover {
  text-decoration: underline;
  transition: 0.25s;
  color: #fc1930d5;
}

.title-subs {
  text-align: center;
  padding-top: 10px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: inherit;
}

.wrapperr .form-group-input {
  margin-bottom: 1rem;
}

.wrapperr .input-submit {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: inherit;
  padding: 0.65rem 2rem;
  border: none;
  outline: none;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.wrapperr .input-submit:hover {
  background: #474cf0;
}

.active-code .wrapperr, .change-code .wrapperr {
  text-align: center;
}

.active-code input {
  margin: 0 5px;
  text-align: center;
  line-height: 45px;
  font-size: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgba(145, 144, 144, 0.973);
  outline: none;
  width: 12%;
  transition: all 0.2s ease-in-out;
}

.active-code input:focus, .change-code input:focus {
  border-color: #474cf0;
}

.change-code input {
  margin: 0 5px;
  text-align: center;
  line-height: 45px;
  font-size: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgba(145, 144, 144, 0.973);
  outline: none;
  width: 8%;
  transition: all 0.2s ease-in-out;
}