#hist{
 background-color:#060b26;
}
 
#hist .container{
     max-width: 1200px;
     margin:0 auto;
     padding:0px 60px 60px 60px;
 
 }

 #hist h1{
     color:#fff;
     text-align: center;
     font-size: 4em;
     
 }
 #hist h1 span{
    font-family: 'Yusei Magic', sans-serif ;
    border-bottom: 3px solid #fff;
}

 #hist .hist-row{
     font-size: 16px;
     color:#fff;
     text-align: center;
     margin-bottom: 30px;
     letter-spacing: 0.5px;
 }


@media screen and (max-width:1200px) {
    #hist .col-text{
        max-width: 100%;
    }   
}