.wrapperr {
  padding: 1rem 0.5rem;
}

.cardd {
  padding:0px;
}

.cardd .content{
   padding:0rem 2rem 0rem 2rem;
}

.icons {
  font-size: 1.45rem;
  line-height: inherit;
  margin-right: 0.5rem;
  border: none;
  outline: none;
  background: none;
}

.icons-facebook {
  color: #0f698a;
}

.f-pass{
  margin-left: 5px;
  font-size: 0.9rem;
}

.linktext {
  font-family: inherit;
  line-height: inherit;
  color: #148cb8;
  cursor: pointer;
}

.linktext:hover {
  text-decoration: underline;
  transition: 0.25s;
  color: #fc1930d5;
}


.title-subs {
  text-align: center;
  padding-top:10px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: inherit;
}

.wrapperr .form-group-input {
  margin-bottom: 1rem;
}

.wrapperr .input-submit {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: inherit;
  padding: 0.65rem 2rem;
  border: none;
  outline: none;
  width:100%;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #ffffff;
 
}

.wrapperr .input-submit:hover{
  background: #474cf0;
}

.wrapperr .line {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.wrapperr .line-bar {
  -webkit-box-flex: 1;
          flex: auto;
  flex-basis: auto;
  border: none;
  outline: none;
  height: 1.3px;
  background: #bed1df;
}

.wrapperr .line-text {
  font-weight: 500;
  color: #252a32;
  padding: 0 1rem;
}

.wrapperr .method-item {
  margin-bottom: 0.5rem;
}

.wrapperr .method-item .btn-action {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: inherit;
  padding: 0.2rem 1rem;
  width: 100%;
  height: auto;
  outline: none;
  border: 1.5px solid #bed1df;
  border-radius: 2rem;
  color: #252a32;
  background: #ffffff;
}

.wrapperr .method-item .btn-action:hover {
  transform: translateY(-2px);
  transition: 0.25s;
  background-color: #cfdde7;
  border-color: #cfdde7;
  text-decoration: none;
}


  