.sidebar .nav-menu {
  padding-top: 110px;
  background-color: #060b26;
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

.sidebar .nav-menu.active {
  left: 0;
  transition: 350ms;
}

.sidebar .nav-text {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 65px;
  cursor: pointer;
}

.sidebar .nav-text p {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 20px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.sidebar .nav-text p:hover {
  background-color: #7ab4f7;
}

.selected {
  background-color: #318cf5af;
}

.sidebar .nav-menu-items {
  width: 100%;
}

.sidebar span {
  margin-left: 16px;
}